---
layout: default
title: Random Thoughts
---

{% for post in site.posts limit: 1 %}
  <h2>{{ post.title }}</h2>
  <div class="meta">
    {{ post.date | date_to_string }}
    {% if post.categories %}
      <ul class="tags inline">
        {% for tag in post.categories %}
        <li class="tag">{{ tag }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <p>
    {{ post.content }}
  </p>
  
  <p><a href="{{ post.url }}#comments">Comments</a></p>
{% endfor %}

<hr/>
<h3>Older posts:</h3>
<ul>
{% for post in site.posts offset: 1 %}
<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>