<!-- HEADER -->
<header>
  <div class="container">
    <h1><a href="/">Omar Abdel-Wahab</a></h1>
    <p class="about">
      A friendly geek, a serial entrepreneur and a veteran hacker.
      <br /><a href="/me">Read more</a>
    </p>
    <p>
      <a target="_blank" href="https://linkedin.com/in/owahab">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-inverse fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" href="https://github.com/owahab">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github-alt fa-inverse fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" href="http://stackoverflow.com/users/383819/owahab">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-stack-overflow fa-inverse fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" href="https://drupal.org/u/owahab">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-drupal fa-inverse fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" href="https://rubygems.org/profiles/owahab">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-diamond fa-inverse fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" href="https://twitter.com/owahab">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-inverse fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" href="https://fb.com/owahab">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
        </span>
      </a>
    </p>
  </div>
</header>
