<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>

  {% include header.html %}

  <section>
    <h2>{{ page.title }}</h2>
    
    <div class="meta">
      {{ page.date | date_to_string }}
      {% if page.categories %}
        <ul class="tags inline">
          {% for tag in page.categories %}
          <li class="tag">{{ tag }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    {{ content }}
    
    {% if site.related_posts.size > 1 %}
    <article class="archives">
      <div class="related-posts">
        <h4>Other Posts</h4>
        <ul>
        {% for post in site.related_posts limit:site.recent_posts %}
            <li><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
      </div>
    </article>
    {% endif %}
    
    {% if page.disqus_comments %}
        <a id="comments"/>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
          window.disqus_identifier = "{{ page.id }}";
        </script>
        <script async src="http://hunch.disqus.com/embed.js"></script>
        <noscript>Please enable JavaScript to view the
          <a href="http://disqus.com/?ref_noscript=hunch">comments powered by Disqus.</a>
        </noscript>
        {% include disqus.html %}
      </div>
      {% endif %}
  </section>
</body>